<section class="col-md-2 col-md-offset-1 hidden-xs hidden-sm" id="sidebar">
  <header>
    <h2 class="page-header">Bhashit Parikh <br /><small>Freelance Developer</small></h2>
  </header>
  <p>
    <ul class="list-inline">
      <li><a href="https://twitter.com/bhashit"><span class="fa fa-twitter fa-lg"></span></a></li>
      <li><a href="https://github.com/Bhashit"><span class="fa fa-github fa-lg"></span></a></li>
      <li><a href="http://stackoverflow.com/users/1258479/bhashit-parikh"><span class="fa fa-stack-overflow fa-lg"></span></a></li>
      <li>
        <a id="skype-link" data-toggle="popover"
           data-trigger="click" data-content="bhashit_parikh" href="#">
          <span class="fa fa-skype fa-lg"></span>
        </a>
      </li>
    </ul>
  </p>
</section>
