<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="{{ site.description }}" />
      <meta name="author" content="Bhashit Parikh" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />
      <link rel="stylesheet" href="/bootstrap/3.3.1/themes/yeti/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/syntax.css" />
      <link rel="stylesheet" href="/font-awesome/4.2.0/css/font-awesome.min.css" />
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <title>{{ page.title }}</title>
   </head>
   <body>
      {% include nav.html  %}
      <main class="container">
        <div class="row">
          {{ content }}
        </div> 
      </main>
      {% include google-analytics.html %}
      <script src="/js/jquery-2.1.1.min.js"></script>
      <script src="/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   </body>
</html>
