<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Bhashit Parikh's blog.">
      <meta name="author" content="Bhashit Parikh">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <title>{{ page.title }}</title>
   </head>

   <body>
      <main>
         <header>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
         </header>
         {{ content }}


         {% if page.comments %}
            <br />
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'bhashitgithubio';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          {% endif %}
      </main>
   </body>
</html>
